spring:
  datasource:
    dynamic:
      primary: mysql
      strict: false
      datasource:
        mysql:
          url: jdbc:mysql://localhost:3306/notice_system_mysql?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf-8
          username: ${DB_MYSQL_USER}
          password: ${DB_MYSQL_PASS}
          driver-class-name: com.mysql.cj.jdbc.Driver
        pg:
          url: jdbc:postgresql://localhost:5432/notice_system_pg
          username: ${DB_PG_USER}
          password: ${DB_PG_PASS}
          driver-class-name: org.postgresql.Driver
        sqlserver:
          url: jdbc:sqlserver://localhost:1433;databaseName=notice_system_sqlserver;encrypt=false
          username: ${DB_MSSQL_USER}
          password: ${DB_MSSQL_PASS}
          driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  mail:
    host: smtp.qq.com
    port: 465
    username: ${MAIL_USER}
    password: ${MAIL_PASS}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
    default-encoding: UTF-8

#项目全局配置文件
notice:
  mail:
    enabled: true                         # 是否开启冲突邮件告警
    from: ${MAIL_USER}               #  发件人显示的邮箱（可与 spring.mail.username 一致）
    subject-prefix: "[同步冲突告警]"       # 邮件标题前缀
    adminUrlBase: "http://localhost:5173"  # 你的前端地址
  sync:
    retry:
      enabled: true                       # 是否开启定时自动重试
      max-retry-count: 3                  # 最大自动重试次数
      fixed-delay-ms: 60000               # 每次重试任务间隔（毫秒），这里是 60 秒
    full:
      enabled: true                       # 是否开启定时全量同步
      cron: "0 0 3 * * ?"                 # 定时全量同步 Cron 表达式（默认每天凌晨 3 点）
      source-db: MYSQL                    # 全量同步的源库（MYSQL / PG / SQLSERVER）
    conflict:
      enabled: true
      recheck-fixed-delay-ms: 300000
      recheck-limit: 50
      notify-fixed-delay-ms: 300000
      notify-limit: 50
      notify-cooldown-minutes: 30
  security:
    admin-role-name: 管理员




